body {
	display: flex;
}

.card, .card--dark {
	height: 330px;
	width: 330px;
	border: 3px solid #333;
	display: inline-block;
	margin: 10px 15px;
	display: flex;
	flex-direction: column;
}

.card__content {
	width: 100%;
	height: 220px;
	background-color: #bfbfbf;
	flex: 1 1 auto;
}

.card__title {
	padding: 10px 15px 0;
	font-weight: 700;
	color: #666;
	flex: 0 0 30px;
}

.card__body, .card__body--big {
	padding: 10px 15px;
	font-weight: 200;
	color: #333;
	flex: 0 0 20px;
}

.card__body--big {
	font-size: 20px;
	font-weight: 700;
}

.card--dark .card__content {
	background-color: #eee;
}

.card--dark .card__title {
	background-color: #666;
	color: #bfbfbf;
}

.card--dark .card__body, .card--dark .card__body--big {
	background-color: #666;
	color: #efefef;
}